<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="/logo.png"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/add2.css">
    <link rel="stylesheet" href="css/navbar1.css">
    <script src="https://kit.fontawesome.com/8d9bddce50.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="primediv">
        <div id="maincon">

            <div id="navbar">
                <div class="men">
                <div id = "nykaa">NYKAA</div>
                <div>MAN</div>
                </div>
                <div class="vl"></div>
               
               
               
                <div id="options">
                <div><h3 id="log"><a href="/">1-LOGIN</a><p id="email"></p></h3></div>
                
                <div class="vl"></div>
                <div ><h3 id="add"><a href="add2.html">2-ADDRESS</a><p id="name"></h3></div>
                <p></p>
                <div class="vl"></div>
                <div ><h3 id="pay"><p id="sirname"></p><a href="Payment.html">3-PAYMENT</a> </h3></div>
                <div class="vl"></div>
              
              </div>
           
               </div>

        </div>
        <div class="main">
            <div id="secdiv">



                <p style="padding-left: 20px ;font-weight: bold;color:darkslategray ;">New Address</p>

            </div>
            <div class="thirddiv">
                <div id="error"></div>
                <h3>New Address</h3>
                <hr style="opacity: 0.4;">
                <p style="font-size: 12px; color: rgb(103,104, 114);">Select Country</p>
                <p>India</p>
                <hr style="opacity: 0.4;">
                <input required type="text" id="box" placeholder="Name">
                <p style="font-size: 12px; color: rgb(103,104, 114);">Phone Number</p>
                <input required type="number" id="box1" placeholder="+91">
                <input required type="number" id="box2" placeholder="Postal Code">
                <input required type="text" id="addo" placeholder="Address">

                <input type="checkbox" id="check" name="check" value="Bike">
                <label for="check">Use this as my default Shipping Address</label><br>
                <button id="btn">SHIP TO THIS ADDRESS ></button>
            </div>
            <div id="fourth_div">
                <div id="div_1"></div>
                <div class="div_2"></div>
                <div class="div_2"></div>
                <div id="div_3"></div>

            </div>

            <div id="pricing">
                <div id="itemcount">
                    <div>
                        <h4 id="itemsinbag"> n items in your bag</h4>
                    </div>
                    <div id="detailsicon">
                        <p>DETAILS</p>
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>

                <!-- Mapped cart data -->
                <div id="cartdata"></div>

                <!-- Subtotal div -->
                <div id="totaldiv">
                    <div class="prtext">
                        <p style="color: black;">Subtotal</p>
                        <p id="subtotal">100</p>
                    </div>

                    <div class="prtext">
                        <p style="color: black;">Shipping Charge</p>
                        <p class="Shipping">FREE</p>
                    </div>

                    <div class="prtext Shipping">
                        <p>Discount</p>
                        <p id="discount">0</p>
                    </div>

                    <div class="prtext">
                        <p style="color: black;">Use Reward Points(2000)</p>
                        <p style="color: black;"><b>APPLY</b></p>
                    </div>

                    <!-- Hr -->
                    <hr>



                </div>

                <div class="prtext" id="colorWhite">
                    <div>
                        <p style="color: black;"><b>Grand Total</b></p>
                    </div>
                    <div id="ftotal">
                        <p id="totall" style="color: black;"><b>302</b></p>
                        <i id="hide_total_div" style="margin-left: 10%;" class="fas fa-angle-up"></i>
                    </div>
                    <!-- <hr> -->
                </div>
                <!-- <hr> -->

            </div>
        </div>

        <!-- footer -->

        <div id="footer_div">
            <div id="footer_container1Dk">

                <div class="footer_contCdiv">
                    <i class="fas fa-envelope fa-2x msgIconDk"></i>
                    <p id="msgIconPara">GET SPECIAL DISCOUNT ON YOUR INBOX</p>
                    <input id="inputFooterDk" type="text" placeholder="Your Email" />
                    <button id="btnFooterDk">Send</button>

                </div>

                <div class="footer_contCdiv">
                    <i class="fas fa-phone-alt fa-2x msgIconDk"></i>
                    <p id="phnIconPara">FOR ANY HELP YOU MAY CALL US AT<br>1800-267-4444</p>
                    <br>
                    <p id="contactTimingDk">(Monday to Saturday, 8AM to 10PM and Sunday, 10AM to 7PM)</p>


                </div>

            </div>



            <div id="footer_container2Dk">


                <div class="footer_cDivuLDk">
                    <ul style="color: white; list-style: none; margin-left: 10%;">
                        <li>
                            <h2 style="margin-top: 15%;">NYKAA<br>MAN</h2>
                        </li>
                        <li class="listParaDk list_para_hover">WHO ARE WE?</li>
                        <li class="listParaDk list_para_hover">CAREERS</li>
                        <li class="listParaDk list_para_hover">AUTHENTICITY</li>
                        <li class="listParaDk list_para_hover">PRESS</li>
                        <li class="listParaDk list_para_hover">TESTIMONIALS</li>
                    </ul>
                </div>

                <div class="footer_cDivuLDk">
                    <ul style="color: white; list-style: none; margin-top: 15%;">
                        <li class="listParaDk list_para_hover" style="font-size: 16px;">HELP</li>
                        <li class="listParaDk list_para_hover">CONTACT US</li>
                        <li class="listParaDk list_para_hover">FREQUENTLY ASKED QUESTIONS</li>
                        <li class="listParaDk list_para_hover">STORE LOCATOR</li>
                        <li class="listParaDk list_para_hover">CANCELLATION & RETURN</li>
                        <li class="listParaDk list_para_hover">SHIPPING & DELIVERY POLICY</li>
                    </ul>

                </div>
                <div class="footer_cDivuLDk">
                    <ul style="color: white; list-style: none; margin-top: 15%;">
                        <li class="listParaDk list_para_hover" style="font-size: 16px;">QUICK LINKS</li>
                        <li class="listParaDk list_para_hover">BRAND STORE</li>
                        <li class="listParaDk list_para_hover">OFFER ZONE</li>
                        <li class="listParaDk list_para_hover">SITE MAP</li>
                    </ul>

                </div>
                <div class="footer_cDivuLDk">

                    <ul style="color: white; list-style: none; margin-top: 15%;">
                        <li class="listParaDk list_para_hover" style="font-size: 16px;">TOP CATEGORIES</li>
                        <li class="listParaDk list_para_hover">SHAVING</li>
                        <li class="listParaDk list_para_hover">HAIR CARE</li>
                        <li class="listParaDk list_para_hover">PERSONAL CARE</li>
                        <li class="listParaDk list_para_hover">PERFUMES & DEOS</li>
                        <li class="listParaDk list_para_hover">WELLNESS</li>
                    </ul>
                </div>
                <div class="footer_cDivuLDk">
                    <ul style="color: white; list-style: none; margin-top: 15%;">
                        <li style="font-size: 16px;"> LUXE </li>
                        <li class="listParaDk list_para_hover">BATH AND BODY</li>
                        <li class="listParaDk list_para_hover">HAIR</li>
                        <li class="listParaDk list_para_hover">FRAGRANCE</li>
                        <li class="listParaDk list_para_hover">SKIN</li>
                    </ul>
                </div>

            </div>


            <div id="footer_container3Dk">

                <div id="footer_containerCdiv">

                    <div style="margin-top: 5%;">
                        <img style="display: inline-block;"
                            src="https://adn-static1.nykaa.com/media/listing/nykaaman/nykaaman_shipping.svg" alt="img">
                        <p class="freeShippingparaDk">FREE SHIPPING</p>
                        <hr style="margin-left: 20%; color: lightgray; margin-top: -1px; width: 85%;">
                        <p class="footerLAst2ndPara">for orders above<br>INR499</p>
                    </div>


                    <div style="margin-top: 5%;">

                        <img style="display: inline-block;"
                            src="https://adn-static1.nykaa.com/media/listing/nykaaman/nykaaman_genuine.svg" alt="img">
                        <p style="margin-left: 5%;" class="freeShippingparaDk">AUTHENTIC<br>PRODUCTS</p>
                        <hr style="margin-left: 25%; color: lightgray; margin-top: -1px; width: 85%;">
                        <p class="footerLAst2ndPara">Sourced Directly from<br> Brands/ Authorised Distributors</p>

                    </div>


                    <div style="margin-top: 5%;">

                        <p class="freeShippingparaDk socialMediaPara">SHOW US SOME LOVE ON SOCIAL MEDIA</p>
                        <i class="fab instaFbIcon fa-instagram-square fa-2x"></i>
                        <i style="margin-left: 5%;" class="fab instaFbIcon fa-facebook-square fa-2x"></i>

                    </div>

                </div>
            </div>


            <div id="footer_container4Dk">

                <div id="footer_containerCd4Dk">
                    <p class="footerMostParaDk">TERMS & CONDITIONS</p>
                    <p class="footerMostParaDk">SHIPPING POLICY</p>
                    <p class="footerMostParaDk">CANCELLATION POLICY</p>
                    <p class="footerMostParaDk">PRIVACY POLICY</p>

                    <p id="footerMostPara2Dk">© 2021 Nykaa E-Retail Pvt. Ltd. All Rights Reserved.</p>
                </div>
            </div>
        </div>


    </div>
</body>

</html>
<script src="js/add2.js"></script>